.btn {
    color: white;
    background-color: blueviolet;
    padding: 1em 0.5em;
    border-radius: 8px;
    margin-right: 1em;
    margin-bottom: 1em;
    outline: none;
    border: none;
    cursor: pointer;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
}

.btn:hover {
    background-color: rgba(137, 43, 226, 0.637);
}